input[type="number"] {
  width: 124px; /* Specify a fixed width */
}

/* Fonts Section */

.fonts-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.fonts-section__font {
  list-style: none;
  cursor: pointer;
  border-radius: 50%;
  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-default-gray);
  transition: transform 0.3s;
}

.fonts-section__font:hover {
  transform: scale(1.1);
}

.fonts-section__font:hover::before {
  content: "";
  position: absolute;
  border: 1px solid var(--color-default-gray);
  width: 120%;
  height: 120%;
  border-radius: 50%;
  opacity: transparent;
}

.fonts-section__font.active:hover::before {
  content: none;
}

.fonts-section__font.active:active {
  transform: scale(0.9) !important; /* Add scaling animation when pressed */
}

.fonts-section__font.active:hover {
  transform: scale(1);
}

.fonts-section__font.active {
  background-color: var(--color-dark);
  color: #fff;
}

.fonts-section li input {
  display: none;
}

.input-fields label {
  color: var(--color-dark-primary) !important;
  opacity: 0.25;
}

/* Colors Section */

.colors-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.colors-section__circle {
  cursor: pointer;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  position: relative;
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colors-section__circle:hover {
  transform: scale(1.1);
}

.colors-section__check-mark {
  position: absolute;
  transform: rotate(45deg) translate(-50%, -50%);
  left: 32%;
  top: 48%;
  height: 24px;
  width: 12px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.selected .colors-section__check-mark {
  display: block;
}

@keyframes checkMarkDraw {
  from {
    width: 0;
    height: 0;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  to {
    width: 60%;
    height: 20%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.colors-section__circle:nth-child(1) {
  color: var(--initial-primary-color);
  background-color: var(--initial-primary-color);
}

.colors-section__circle:nth-child(2) {
  color: var(--theme2-primary-color);
  background-color: var(--theme2-primary-color);
}

.colors-section__circle:nth-child(3) {
  color: var(--theme3-primary-color);
  background-color: var(--theme3-primary-color);
}

.colors-section__circle:hover::before {
  content: "";
  position: absolute;
  top: -10%; /* Adjust positioning to center the border */
  left: -10%; /* Adjust positioning to center the border */
  border: 1px solid currentColor; /* Use currentColor to match the circle's background */
  width: 120%; /* Increase size to cover the circle */
  height: 120%; /* Increase size to cover the circle */
  border-radius: 50%;
  opacity: 0; /* Set opacity to make the border invisible initially */
  transition: opacity 0.3s ease; /* Add transition for smooth effect */
}

.colors-section__circle:hover::before {
  opacity: 0.5; /* Change opacity on hover to make the border visible */
}

.colors-section__circle.selected::before {
  content: none; /* Remove the border when the circle is selected */
}

.colors-section__circle.selected:hover {
  transform: scale(1);
}
