@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-primary: #f87070;
    --color-dark: #1e213f;
    --color-dark-secondary: #161932;
    --color-white: #fff;
    --color-black: #000;
    --color-light-gray: #e3e1e1;
    --color-default-gray: #eff1fa;
    --color-transparent: transparent;

    --font-family-primary: "Kumbh Sans", sans-serif;
  }

  [data-theme="theme2"] {
    --color-primary: #70f3f8;
    --font-family-primary: "Roboto Slab", serif;
  }

  [data-theme="theme3"] {
    --color-primary: #d881f8;
    --font-family-primary: "Space Mono", monospace;
  }
}

:root {
  line-height: 1.5;
  /* font-weight: 400; */

  color-scheme: light dark;
  color: #d7e0ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-dark);
  font-family: var(--font-family-primary);
}
